/* Tạo bố cục giao diện */
#L_Header {
    text-align: center;
}

#L_C {
    width: 98%;
    margin-left: 20px;
}

#L_Left {
    float: left;
    width: 30%;
}

#L_Right {
    float: right;
    width: 65%;
    margin-right: 20px;
}

#bodier{
  height: 620px;
  margin-top: 20px;
  margin-bottom: 20px;
}


/* Style the body */
body {
    background-color: #C4DFE6;
    font-family: sans-serif;
}

h1 {
    background-color: #07575B;
    color: white;
    font-weight: bold;
    font-size: 40px;
}

h2 {
    text-align: center;
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    font-weight: bold;
    font-size: 30px;
    color: white;
}

h3 {
    text-align: center;
    display: block;
    color: white;
}

label {
    color: white;
}

.Layout {

    width: 100%;
    margin-top: 30px;
    background-color: #07575B;
    padding: 10px 10px 0 10px;
    border-radius: 10px;
    border: 7px solid #66A5AD;
}

input {
    background-color: #C4DFE6;
}

table {
    width: 100%;
}

table tr th {
    width: 33%;
}

header {
    background-color: white;
    padding: 1px;
    text-align: center;
    font-size: 30px;
    color: black;
    height: 20%;
}

#header p {
  color: white;
  font-family: Arial;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  padding-top: 28px;
}

/* Định dạng nút nhấn */
.BT {
    display: inline-block;
    padding: 15px 25px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #07575B;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #66A5AD;
}

.BT:hover {
    background-color: #66A5AD
}

.BT:active {
    background-color: #66A5AD;
    box-shadow: 0 5px #C4DFE6;
    transform: translateY(4px);
}


/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #C4DFE6;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #66A5AD;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #66A5AD;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }


  .Layout input {
    background-color: white;
    font-family: sans-serif;
  }

  form option {
    background-color: white;
    font-family: sans-serif;
  }
/* 
#003B46
#07575B
#66A5AD
#C4DFE6
*/