a   {
      color: #330000;
      text-decoration: none;
    }
    a:hover {
      text-decoration: none;
      color: #CC0000;
    }
    
    
    .content {
       background-color: #C4DFE6;
       background-repeat: repeat;
    }
    
    
    .footer-container {
      background-color:#07575B ;
      width: 100vw;
      height: 45px;
      display: flex;
      align-items: center;
      border-radius: 10px; 
                      }

    .footer-container p {
      flex: 10;
      text-align: center;
                        }
    .footer-avt {
      align-items: center;
                }
    
    .teacher-avt img {
      margin-left: 8px;
    }
   
body

}

  #wrapper{
margin: 50px;
padding: 0px;
width: 100%;
}
#header {
background-color:#07575B ;
border-radius: 10px; 
height: 100px;
margin-bottom: 65px;
}
#header p{
color: white;
font-family: Arial;
font-size: 2rem;
font-weight: bold;
text-align: center;
padding-top: 28px;
margin-bottom: 35px;
}
.box {
float: left;
width: 140;
height: 100px;
border-radius: 8px;
background-color:#07575B;
}
    .content {
      display: flex;
      align-items: center;
    }
ul {
  list-style-type: none;
  margin:2 ;
  padding: 20;
  overflow: hidden;
  background-color: #07575B ;
  font-family: "Arial";
  border-radius: 10px; 
}
li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 15px 30px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: white;
     border-radius: 100px; 
}
p {
  display: block;
  margin-block-start: 0;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

